<!DOCTYPE html>
<html>

<head>
    <% include ../static/partials/head.ejs %>
</head>

<body>
    <% include ../static/partials/navbar.ejs %>

        <main class="container">
            <h1><%= topic.title %></h1>

            <% if (topic.flairId) { %>
              <%= topic.flair.name %>
              <button style="background: <%= topic.flair.color %>">
                <%= topic.flair.name %>
              </button>
            <% } else { %>
              <p>No flair</p>
            <% } %>
            <hr color='grey'>

            <a href="/topics/<%= topic.id %>/edit" class="btn btn-warning">Edit</a>
            <a href="/topics/<%= topic.id %>/posts/new" class="btn btn-success">New Post</a>
            <form style="display:initial" action="/topics/<%= topic.id %>/destroy" method="post">
              <button type="submit" class="btn btn-danger">Delete</button>
            </form>

            <p><%= topic.description %></p>

            <hr>
            <h1>Posts</h1>
         
            <ul class="list-group">
              <% posts.forEach((post) => { %>
                <li class="list-group-item">
                  <a href="/topics/<%= topic.id %>/posts/<%= post.id %>"> <%= post.title %>
                  <% if (post.flairId) { %>
                    <button style="background: <%= post.flair.color %>">
                      <%= post.flair.name %>
                    </button>
                  <% } %>
                  </a>
                </li>
              <% }) %>
            </ul>
         
        </main>

        <% include ../static/partials/baseScripts.ejs %>

</body>

</html>
