<!DOCTYPE html>
<html>

<head>
    <% include ../static/partials/head.ejs %>
</head>

<body>
    <% include ../static/partials/navbar.ejs %>

        <main class="container">
            <h1>
                <%= flair.name %>
            </h1>

            <button style="background: <%= flair.color %>">
                <%= flair.name %>
            </button>

            <hr>
            <a href="/flairs/<%= flair.id %>/edit" class="btn btn-warning">Edit</a>
            <a href="/flairs/new" class="btn btn-success">New Flair</a>
            <form style="display:initial" action="/flairs/<%= flair.id %>/destroy" method="post">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
         
            <hr>
            
            <h4>Topics:</h4>
            <ul class="list-group">
              <% flair.topics.forEach((topic) => { %>
                <li class="list-group-item">
                  <a href="/topics/<%= topic.id %>">
                    <%= topic.title %>
                  </a>
                </li>
              <% }) %>
            </ul>

            <h4>Posts:</h4>
            <ul class="list-group">
              <% flair.posts.forEach((post) => { %>
                <li class="list-group-item">
                  <a href="/topics/<%= post.topicId %>/posts/<%= post.id %>">
                    <%= post.title %>
                  </a>
                 </li>
              <% }) %>
            </ul>

        </main>

        <% include ../static/partials/baseScripts.ejs %>

</body>

</html>